<div class="container mt-5">
  <h1 class="mb-4">My Tasks</h1>

  <% @tasks.each do |task| %>
    <div class="d-flex align-items-center mb-2">
      <input type="checkbox" class="mr-2" <%= 'checked' if task.completed? %>>
      <%= link_to task.title, task_path(task), class: 'text-dark' %>
    </div>
  <% end %>

  <%= link_to "Add New Task", new_task_path, class: 'btn btn-primary' %>
</div>
